.para:empty:not(:focus)::before {

  content: "para text content come here...........";

}

.keywordgroup{
  margin: 100px;
  width: 80%;
  border: none;
}

[contenteditable="true"]:focus{
  border: 1px blue dashed;
  outline:none;
}